@font-face {
	font-family:'Gilroy-SemiBold'; 
	src: url(../../assets/fonts/Gilroy-SemiBold.ttf); 
}
@font-face {
	font-family:'Gilroy-Medium'; 
	src: url(../../assets/fonts/Gilroy-Medium.ttf); 
}
*{
    font-size: 16px;
    line-height: 19px; 
}
.Conteiner::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.Conteiner{
position: absolute;
width: 260px;
height: 975px;
left: 500px;
top: 100px;
background: #FFFFFF;
box-shadow: inset -1px 0px 0px #DFE5F1;
border: 1px solid black;
overflow: auto;
-ms-overflow-style: none;
scrollbar-width: none;

}
.Logo{
background: url(../../assets/Icons/colorfilter.png) no-repeat;
position: absolute;
width: 28px;
height: 28px;
left: 30px;
top: 35px;
}
.TextLogo{
position: absolute;
width: 52px;
height: 21px;
left: 68px;
top: 42px;
font-family: 'Gilroy-SemiBold';
font-size: 17px;
line-height: 20px;
color: #000000;
}
.Avatar{
background: url(../../assets/Icons/Avatar.png) no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 30px;
top: 113px;
border-radius: 201.875px;
}
.TextAvatar{
position: absolute;
width: 98px;
height: 20px;
left: 74px;
top: 113px;
font-family: 'Gilroy-SemiBold';
color: #000000;
}
.Line{
position: absolute;
width: 200px;
height: 0px;
left: 30px;
top: 175px;
border-bottom: 1px solid #DFE5F1;
height: 1px;
width: 200px;
}
.DashboardConteiner{
position: absolute;
width: 125px;
height: 24px;
left: 30px;
top: 215px;
}
.DashboardLogo{
    background: url(../../assets/Icons/flash-circle.png) no-repeat;
    position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
}
.DashboardText{
    position: absolute;
    width: 83px;
    height: 19px;
    left: 40px;
    top: 3px; 
    font-family: 'Gilroy-Medium';
    color: #141736;
    cursor: pointer;   
}
.ChatConteiner{
position: absolute;
width: 125px;
height: 24px;
left: 30px;
top: 269px;
}
.ChatLogo{
background: url(../../assets/Icons/message-text.png);
 position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
}
.ChatText{
    position: absolute;
    width: 38px;
    height: 19px;
    left: 40px;
    top: 3px;
    font-family: 'Gilroy-Medium';
    color: #141736; 
    cursor: pointer;
}
.MyCourseConteiner{
    position: absolute;
    width: 125px;
    height: 24px;
    left: 30px;
    top: 323px;
}
.MyCourseLogo{
    background: url(../../assets/Icons/teacher.png);
    position: absolute;
   width: 24px;
   height: 24px;
   left: 0px;
   top: 0px;
}
.MyCourseText{
    position: absolute;
    width: 77px;
    height: 19px;
    left: 40px;
    top: 3px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 19px;
    color: #141736; 
    cursor: pointer;
}
.MyAccountConteiner{
    position: absolute;
    width: 125px;
    height: 24px;
    left: 30px;
    top: 377px;
}
.MyAccountLogo{
  background: url(../../assets/Icons/flash-circle.png) no-repeat;
 position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
}
.MyAccountText{
    position: absolute;
    width: 87px;
    height: 19px;
    left: 40px;
    top: 3px; 
    font-family: 'Gilroy-Medium';
    color: #141736;
    cursor: pointer;
}
.LogoutConteiner{
    position: absolute;
width: 125px;
height: 24px;
left: 30px;
top: 799px;
}
.LogoutLogo{
    background: url(../../assets/Icons/login.png) no-repeat;
 position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
}
.LogoutText{
position: absolute;
width: 70px;
height: 19px;
left: 35px;
top: 3px;
text-align: center;
font-family: 'Gilroy-Medium';
color: #141736;
background:none;
cursor: pointer;
}
