

.input {
    
    width: 705px;
    height: 76px;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    
    
   
}

.search {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #F6F7F9;
    
}


.btn {
    width: 141px;
    height: 34px;
    border: none;
    border-radius: 16px;
    background: rgba(1, 119, 251, 0.1);
    color: #0177FB;
}